.advantages {
  position: relative;
  background-color: $color-backgroundlight;

  @include vp-767 {
    min-width: 320px;
  }
}

.advantages__content-container {
  padding-top: 109px;
  padding-bottom: 120px;
  z-index: 100;
  position: relative;

  @include vp-1023 {
    padding-top: 91px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    min-width: 320px;
    padding-top: 57px;
  }
}

.advantages__image {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  z-index: 1;
}

.advantages__image img {
  width: 100%;
  height: 100%;

  @include vp-1023 {
    width: 100%;
    object-fit: cover;
  }
}

.advantages h2 {
  margin: 0;
  margin-bottom: 49px;
  text-align: center;

  @include vp-1023 {
    margin-bottom: 51px;
  }


  @include vp-767 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}

.advantages ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  list-style: none;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.advantages li {
  padding: 30px 30px 26px 30px;
  margin: 0;
  background-color: $color-light;

  @include vp-1023 {
    padding: 25px 15px 22px 20px;
  }

  @include vp-767 {
    padding-bottom: 21px;
  }
}

.advantages__ship svg {
  width: 27px;
  height: auto;

  @include vp-1023 {
    width: 21px;
  }
}

.advantages__ship p {
  @include vp-1023 {
    width: 96%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.advantages h3 {
  margin: 13px 0 9px 0;
  font-weight: 500;
  font-size: 18px;

  @include vp-1023 {
    line-height: 1.4;
    margin-bottom: 11px;
    margin-top: 13px;
  }
}

.advantages p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.4;
}

.advantages__check svg {
  margin-top: 5px;
  width: 38px;
  height: auto;

  @include vp-1023 {
    width: 33px;
  }
}

.advantages__check h3 {
  margin-top: 19px;

  @include vp-1023 {
    margin-top: 16px;
    margin-bottom: 9px;
  }

  @include vp-767 {
    margin-top: 14px;
    margin-bottom: 10px;
    width: 85%;
  }
}

.advantages__check p {
  width: 95%;

  @include vp-767 {
    width: 86%;
  }
}

.advantages__boat svg {
  margin-top: 9px;
  width: 42px;
  height: auto;

  @include vp-1023 {
    width: 38px;
    margin-top: 6px;
  }
}

.advantages__boat h3 {
  margin-top: 20px;
  margin-bottom: 10px;

  @include vp-1023 {
    margin-top: 19px;
    margin-bottom: 10px;
  }
}

.advantages__boat p {
  width: 82%;

  @include vp-1023 {
    width: 99%;
  }

  @include vp-767 {
    width: 98%;
  }
}

.advantages__boat br {
  &:first-child {
    display: none;
  }

  @include vp-1023 {
    display: none;

    &:first-child {
      display: inline;
    }
  }

  @include vp-767 {
    &:first-child {
      display: none;
    }
  }
}
