.page-footer {
  flex: 0 0 auto;
  width: 100%;
  background-color: $color-dark;
}

.page-footer__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

.page-footer__container {
  max-width: 1366px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: start;
  padding: 45px 94px 43px 103px;

  @include vp-1023 {
    padding: 39px 35px 35px 45px;
  }

  @include vp-767 {
    padding: 32px 4.7% 33px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

.page-footer__logo {
  margin-right: 8px;

  @include vp-1023 {
    margin-right: 2px;
    padding-top: 10px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 19px;
  }
}

.page-footer__logo img {
  width: 100%;
  min-width: 70px;
  height: auto;
  padding-top: 6px;

  @include vp-1023 {
    padding-top: 0;
    min-width: 38px;
  }

  @include vp-767 {
    padding-top: 0;
    min-width: 42px;
  }
}

.page-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.page-footer li {
  margin-left: 33px;
  margin-bottom: 5px;
  margin-top: 5px;

  @include vp-1023 {
    margin-left: 23px;
  }
}

.page-footer__point li {
  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-footer__link-menu-container a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-light;
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
  min-height: 40px;

  &:hover,
  &:focus-visible {
    color: hsla(210, 50%, 98%, 0.5);
  }

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    min-height: 30px;
  }
}

.page-footer__link-menu-container.is-inactive a {
  color: hsla(210, 50%, 98%, 0.3);
  cursor: default;
  pointer-events: none;

  &:hover,
  &:focus-visible {
    cursor: default;
    pointer-events: none;
    outline: none;
    color: hsla(210, 50%, 98%, 0.3);
  }
}

.page-footer__point {
  @include vp-767 {
    margin-bottom: 7px;
  }
}

.page-footer__point ul {
  @include vp-767 {
    flex-direction: column;
  }
}

.page-footer__social {
  margin-left: 40px;

  @include vp-1023 {
    margin-left: 10px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.page-footer__social ul {
  min-width: max-content;
}

.page-footer__link-container a {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  user-select: none;


  @include vp-1023 {
    height: 30px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 18px;
  }
}

.page-footer__social li {
  margin-left: 8px;

  @include vp-1023 {
    margin-left: 3px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 5px;
  }
}

.page-footer__social svg {
  fill: $color-light;
}

.page-footer__link-container a:hover svg,
.page-footer__link-container a:focus-visible svg {
  fill: hsla(210, 50%, 98%, 0.5);
}

.page-footer__link-container.is-inactive svg,
.page-footer__link-container.is-inactive a:hover svg,
.page-footer__link-container.is-inactive a:focus-visible svg {
  fill: hsla(210, 50%, 98%, 0.3);
  pointer-events: none;
  outline: none;
}

.page-footer__link-container.is-inactive a,
.page-footer__link-container.is-inactive a:hover,
.page-footer__link-container.is-inactive a:focus-visible {
  cursor: default;
  pointer-events: none;
  outline: none;
  color: hsla(210, 50%, 98%, 0.3);
}

.page-footer__twitter svg {
  width: 20px;
  height: auto;

  @include vp-1023 {
    width: 16px;
  }
}

.page-footer__instagram svg {
  width: 20px;
  height: auto;

  @include vp-1023 {
    width: 16px;
  }
}

.page-footer__facebook svg {
  width: 11px;
  height: auto;

  @include vp-1023 {
    width: 9px;
  }
}
