.reservation {
  position: relative;
  min-height: 555px;
  width: 100%;
  background-color: $color-backgroundlight;
}

.reservation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 163px;

  @include vp-1023 {
    min-height: 100%;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 59px;
    padding-bottom: 65px;
  }
}

.reservation__container-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
}

.reservation img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  width: 100%;
  height: 100%;

  @include vp-1023 {
    object-fit: cover;
  }
}

.reservation h2 {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: bold;
  font-size: 40px;

  @include vp-1023 {
    font-size: 34px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 13px;
  }
}

.reservation p {
  margin: 0;
  display: block;
  width: 100%;
  font-size: 18px;
}

.reservation__content-wrapper {
  flex: 1;
  margin-right: 40px;
  margin-bottom: 9px;
  z-index: 100;

  @include vp-1023 {
    flex: 0;
    margin: 0;
    margin-bottom: 50px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.reservation__content-wrapper p {
  width: 63%;

  @include vp-1023 {
    text-align: center;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 1.4;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.reservation__form-wrapper {
  width: 403px;
  padding: 45px 50px 50px;
  font-weight: 500;
  font-size: 18px;
  color: $color-light;
  background-color: $color-dark;
  z-index: 100;

  @include vp-767 {
    width: 100%;
    padding: 36px 30px 40px;
  }
}

.reservation__form-wrapper p {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 18px;
  line-height: 27px;

  @include vp-767 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 27px;
    text-align: center;
    width: 99%;
  }
}

.reservation input {
  min-height: 40px;
  padding: 11px 16px;
  width: 100%;
  margin-bottom: 20px;
  background-color: $color-light;
  border: none;

  &:hover::placeholder,
  &:focus-visible::placeholder,
  &:hover,
  &:focus-visible {
    color: rgba(1, 28, 64, 0.3);
  }

  &:last-of-type {
    margin-bottom: 22px;

    @include vp-767 {
      margin-bottom: 18px;
    }
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
  }

  &:focus-visible {
    outline-color: $color-dark;
  }
}

.reservation__checkbox-container {
  margin-bottom: 28px;
  min-height: 18px;

  @include vp-767 {
    margin-bottom: 27px;
  }
}

.reservation__checkbox-container label {
  position: relative;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.3;
  cursor: pointer;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 18px;
    height: 18px;
    background-color: $color-light;
    content: "";

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }
}

.reservation__checkbox-container svg {
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 4px;
  z-index: 100;
  fill: none;
  stroke: #101a56;

  @include vp-767 {
    left: 5px;
  }
}

.reservation__checkbox-container span {
  display: block;
  padding-left: 23px;

  @include vp-767 {
    padding-left: 28px;
    width: 80%;
  }
}

.reservation__checkbox-container input {
  margin-bottom: 0;
  width: 1px;
  min-height: 1px;
}

.reservation__checkbox-container input[type="checkbox"]:checked + label svg {
  display: block;
}

.reservation__checkbox-container input[type="checkbox"]:disabled + label {
  cursor: default;
  pointer-events: none;
  color: hsla(210, 50%, 98%, 0.3);
}

.reservation__checkbox-container input[type="checkbox"]:disabled + label svg {
  stroke: hsla(231, 69%, 20%, 0.3);
}

.reservation__checkbox-container input[type="checkbox"]:checked:hover + label svg {
  stroke: hsla(231, 69%, 20%, 0.5);
}

.reservation__checkbox-container input[type="checkbox"]:hover + label {
  color: hsla(210, 50%, 98%, 0.5);
}

.reservation__checkbox-container input[type="checkbox"]:hover + label,
.reservation__checkbox-container input[type="checkbox"]:focus-visible + label {
  &::after {
    background-color: $color-backgroundlight;
  }
}

.reservation button {
  width: 100%;
  min-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: $color-light;
  border: none;
  outline: none;
  color: $color-dark;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus-visible {
    color: hsla(214, 97%, 13%, 0.5);
  }

  &:disabled {
    color: hsla(214, 97%, 13%, 0.3);
    cursor: default;
    pointer-events: none;
  }
}
