.container {
  width: 100%;
  max-width: $vp-1366;
  margin: 0 auto;
  padding: 120px 103px;

  @include vp-1365 {
    padding: 90px 45px;
  }

  @include vp-767 {
    padding: 65px 4.7%;
  }
}

.container h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;

  @include vp-1365 {
    font-size: 26px;
    line-height: 1.4;
  }
}
